<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <title>CNK</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "images/logo.jpg" %}" type="image/x-icon">
  
   
</head>
<body>
    {% include "bazaar/loader_whatsapp.html" %}
    {% include "bazaar/navbar.html" %}
    <br><br><br><br>

    <center>
      <h3 style="color: darkolivegreen;">Terms and Condition</h3>
      <h4 style="color: #9daf7d;">C. N. Kobal Industries</h4>
    
    
  
    Welcome to our Terms and Agreement Section! Like any company, we must bring to the notice the terms and conditions to protect in the interest of our valued customers and the company.
<br><br>
    In using the CNK shopping service, you (The User) are deemed to have accepted the terms and conditions listed below.
    The company reserves the right to modify these terms and conditions at any point of time.
    <br><br>
    
    Registration Account details:-
    
    You agree to provide CNK with accurate and complete information as required by registration, ("Customer Registration Data"), including, but not limited to, your legal name, billing and delivery addresses, telephone number, and promptly to notify customer care of any change in your Customer Registration Data.
    <br><br>
    Products Prices are subject to change without prior notice by manufacturer or the company<br>
    
    Products availability is subject to change without prior notice by the company <br>
    
    The company will start to process the order right away once you place the order successfully with us. Please give us reasonable day time for secured and proper delivery.
    <br><br>
    When you opt Cash on Delivery, CNK always try to make a confirmation about the order over phone before delivery. Exact amount of Cash will be collected when the order is delivered.
    <br><br>
    The company reserves the right to refuse or cancel any order placed for a product that is listed at an incorrect price or Out of Stock status. This shall be regardless of whether the order has been confirmed.
    <br><br>
    The images of products casted on the website are an image as per the original vendor’s products and reserves all right on these images.
    <br><br>
  </center>    
  {% include "bazaar/footer.html" %}
</body>
</html>